/*
	FH Wedel - Projekt Medieninformatik

	Ellen Schwartau 	- Minf9888 
	Julia Menzel 		- Minf9950
	
	@date 	2014-04-16
	@author	Ellen Schwartau
	@author	Julia Menzel
*/
/* ------------------ CSS zur Kalender-Seite ------------------------------ */

/* --------------- media < 1000px ----------------------------------- */
@media (max-width: 1000px) {
    #calendar iframe {
    	width: 100%;
    	height: 600px;
    	overflow:hidden;
	}
	#calendar iframe[seamless]{
		overflow: hidden;
	}
}