/* ---------- Footer ---------- */
.footer {
	width: 100%;
	max-width: 1000px;
	display: inline-table;
	padding: 0;
}
.footer-heading {
	font-size: medium;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
}
.footer li {
	width: 30%;
	padding: 1%;
	display: inline-block;
	text-align: center;
}
.footer-info {
	display: inline-block;
	width: 100%;
}
.footer-space-bottom {
	margin-bottom: 1em;
}

/* -- Wrapper -- */
.footer-wrapper {
	font-size:	small;
	background-color: #666666;
	color: white;
	min-height: 100px;
	margin-top:	5%;
	width: 100%;
	text-align: center;
}
.footer-item-wrapper {
	text-align: left;
	display: inline-block;
}
/* -- Links -- */
.footer a {
	color: #FFFFFF;
}
.footer a:hover {
	color: #CED1D1;
}

/* -- Formular -- */
.footer form {
	margin: 0px;
}
.footer [type=submit] {
	text-transform: uppercase;
	background: transparent;
	margin-left: -6px;
	font-weight: bold;
	font-size: medium;
	color: white;
	cursor: pointer;
}

/* --------- Logo ---------------- */
.footer img.footer-logo-small {
	width: 54%;
	height: auto;
}

/* ------------------ media specific adaption ------------------------ */

@media (max-width: 600px) {
	.footer li {
		width: 95%;
		margin: 10px 0;
	}
	.footer li:first-child {
		/* erstes Item mit auto-width für mittige Positionierung */
		width: auto;
		text-align: center;
	}
	.footer img.footer-logo {
	    height: 100px;
	    width: auto;
	}
	.footer-info {
		display: inline;
		padding-right: 2%;
	}
	.footer-heading {
		display: none;
	}
	.footer-item-wrapper {
		width: 100%;
	}
}
