.galery-outer-wrapper {
		width: 100%;
	}

.galery-inner-wrapper-two-col, 
.galery-inner-wrapper-three-col {
	float: left;
}

.galery-inner-wrapper-three-col {
	width: 33%;
}

.galery-inner-wrapper-two-col {
	display: none;
	width: 50%;
}

.galery-inner-wrapper-one-col {
	display: none;
	width: 100%;
}

.galery-close {
	position: fixed;
	left: 0px;
	top: 35%;
	background-image: url("../data/buttons/button-galery-back.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	opacity: 0.7;
	width: 3%;
	color: #FFF;
	text-align: center;
}

.galery-img--complete {
	width: 99%;
	height: auto;
	margin: 0.5%;
	border: 2px solid white;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -khtml-border-radius: 2%;
    -webkit-border-radius: 2%;
		
}

/** Größenanpassungen */
@media (max-width: 1350px) {
	.galery-close {
		width: 4%;
	}
}
@media (max-width: 900px) {
	.galery-inner-wrapper-three-col {
		display: none;
	}
	.galery-inner-wrapper-two-col {
		display: block;
	}
}

@media (max-width: 700px) {
	.galery-close {
		width: 5%;
	}
}

@media (max-width: 500px) {
	.galery-inner-wrapper-two-col {
		display: none;
	}
	.galery-inner-wrapper-one-col {
		display: block;
	}
	.galery-close {
		width: 100%;
		height: 60px;
		top: 0;
		background-image: url("../data/buttons/button-galery-back-h.png");
	}
}