/* ------------------------ Spielbericht --------------------------- */
.report-menue {
	width: 10%;
	background-color: black;
	opacity: 0.8;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-right: 2%;
	padding: 2%;
	float: left;
}
.content {
	width: 65%;
	margin-left: 0%;
	display: inline-block;
}
.report-info {
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 3%;
	width: 80%;
}
.table-heading {
	font-weight: bolder;
}

/* ------------------------ Kommentare ------------------------------ */
.comment {
	padding: 1% 5%;
	margin: 3%;
	background-color: #FFFFFF;
	border-radius: 25px 25px 25px 0px;
	-moz-border-radius: 25px 25px 25px 0px;
	-webkit-border-radius: 25px 25px 25px 0px;
	border: 0px solid #000000;
	position: relative;
}
.comment .button-delete {
	display: none;
}
.comment:hover .button-delete {
	display: inline-block;
}
.comment .button-delete {
	right: -10px;
	top: -10px;
}
.comment-name {
	font-weight: bold;
}

/* ------------------ Pagination ------------------- */
.pagination {
	font-size: smaller;
	width: 100%;
}
.pagination td {
	width: 33%
}
.pagination-previous {
	text-align: left;
}
.pagination-next{
	text-align: right;
}
.pagination-info {
	text-align: center;
}