/* ------------------------ Sidebar --------------------------------- */

.sidebar {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    float: left;
    width: 20%;
}
.sidebar-title {
    position:absolute;
    float:left;
    color:#FFFFFF;
    left:12px;
    text-align: left;
	z-index: 100;
    top: 10px;
}
.menublock-sidebar {
    margin: 0;
    padding: 12px 12px 9px 12px;
}
.menu-sidebar {
    display: inline-block !important;
    margin: 40px 0 0 0;
    padding: 12px;
    width: 88%;
}
.menublock-sidebar .abc-menu li.center {
    text-align: center;
}
.menu span {
    line-height: 24px;
}
.sidebar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    margin: 2px 0;
    width: 100%;
}
.sidebar input {
	width: 100%;
}

/* ---------------- Alphabet ---------------- */
.abc-inner {
    padding: 0;
    display: inline-block;
}
.abc ul li {
    float: left;
}
.abc-menu, .abc-content {
    display: inline-block;
    width: 100%;
}
.abc .abc-menu li {
    width: 33%;
    line-height: 22px;
}
.abc .abc-content li {
    margin: 1px;
    width: 42px;
}
.abc .list-item {
    text-align: center;
    height: 9px;
    padding-bottom: 20px;
    padding-top: 13px;
    width: 42px;
}

/* ---------------------------------------------------------------------
 * ------------------ Auflösungsspezifische Anpassung ------------------
 * ------------------------------------------------------------------ */

/* --------------- media < 1000px ----------------------------------- */
@media (max-width: 1000px) {
	/* Nur noch den Titel und Suche der Sidebar anzeigen */
    #box-menu-sidebar {
        display: none !important;
    }
    #sidebar {
        border: none;
    }
    .sidebar {
        width: 100%;
        padding-top: 12px;
    }
    #menu-div {
        display: inline-block;
    }
    .menublock-sidebar {
	    display: none;
	}
}